.sign-up-form {
    display: grid;
    justify-items: center;

    &__title {
        width: 100%;
        margin-top: 6.6rem;
    }
    &__fullname {
        margin-top: 7.7rem; 
    }
    &__unit,
    &__email,
    &__password  {
        margin-top: 4rem;
    }

    &__create-account {
        margin-top: 8.8rem;
    }
    &__text-links {
        margin-top: 5.2rem;
    }
}