.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 0.5s;
  box-shadow: 0px 6px 16px -6px #444;
}

.navbar-container a {
  text-decoration: none;
  transition: 0.5s;
  color: black;
  font-weight: 600 !important;
}

.navbar-container .topnav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 70px;
  margin: 0;
  transition: 0.5s;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 250ms ease-out;
}

.logo-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo-heading {
  display: block;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.nav-links {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  transition: 0.5s;
  font-weight: 500 !important;
  letter-spacing: 0.5px;
}

.nav-links:hover {
  color: #117964;
}


@media screen and (max-width: 1170px) {
  .navbar-container {
    position: relative;
  }

  .navbar-container .topnav {
    width: 100vw;
    height: 60px;
  }

  .link-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 60px 0;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .link-container.mobile-active {
    left: 0;
    top: 0;
    padding: 60px 0;
    background-color: #fff;
    width: 80%;
    z-index: 2;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .logo-heading {
    background-color: transparent !important;
    font-size: 26px;
  }
  .nav-links {
    z-index: 2;
    text-align: center;
    padding: 15px 0px;
    margin: 0;
    background-color: #fff !important;
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.2px;
    color: black;
    display: table;
    height: fit-content;
  }

  #mobile-menu {
    cursor: pointer;
    margin: 0 8px;
    margin-left: 25px;
    z-index: 3;
  }
  .menu-toggle .bar {
    display: block;
  }

  #mobile-menu.is-mobile-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-mobile-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-mobile-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
