.icon-con {
    background-color: rgb(140, 177, 224);
    text-align: center;
    cursor: pointer;
}

.icon {
    margin: 3px;
    padding: 3px;
}
.text {
    background-color: rgb(87, 124, 176);
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 5px;
}
.text li{
    cursor: pointer;
}
.text li:hover{
    color: rgb(255, 255, 255);
}