.signin-container{
    display: flex;
    height: 100vh;
    margin: auto;
    background: white;
    overflow: hidden;
    width: 100vw;
}
.signin-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    flex: 2;
    min-width: fit-content;
    gap: 10px;
    height: 80vh;
}

.signin-title{
    display: flex;
    background-color: rgb(225,225,225);
    margin-bottom: 10px;
    width: 100%;

}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 350px;
    padding: 5px 5px 5px 0;
}

.details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.checkbox{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.input{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(245,245,245);
    border-radius: 5px;
    padding: 5px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit{
    cursor: pointer;
    color: white;
    border: 0;
    outline: none;
    background-color: rgb(0, 200, 170);
    border-radius: 999px;
    width: 100%;
    padding-block: 10px;
}

.google{
    width: 320px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: rgb(0, 200, 170);
    height: 30px;
    border-radius: 15px;
    display: inline-block;
}

.short-text{
    font-size: small;
}

.hid{
    visibility: hidden;
}

.signin-img {
    display: none;
    flex: 1;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media only all and (min-width: 640px) {
    .signin-img {
        display: flex;
    }
}