.signin-container{
    display: flex;
    height: 80vh;
    width: 90%;
   
}
.signin-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem;
    gap: 10px;
    height: 80vh;
}
.signin-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signin-title{
    display: flex;
    flex-direction: row;
    background-color: rgb(225,225,225);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 999px;
    padding: 4px;
    
}


.btnp{
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    width: 150px;
}
.btn-greenp{
    cursor: pointer;
    background-color: rgb(0, 200, 170);
    border: 0;
    outline: none;
    width: 50%;
    border-radius: 999px;
    color: white;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 350px;
    padding: 5px 5px 5px 0;
}

.details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 80px;
}

.checkbox{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(245,245,245);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.submit{
    cursor: pointer;
    color: white;
    border: 0;
    outline: none;
    background-color: rgb(0, 200, 170);
    border-radius: 999px;
    width: 100%;
    padding-block: 10px;
}

.google{
    width: 320px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    background-color: rgb(0, 200, 170);
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    
}

.short-text{
    font-size: small;
}

.hid{
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    
    
    body {
        overflow-x: hidden !important;
    }
   .signin-container{
       overflow-x: hidden !important;
       flex-direction: column;
       width: 100%;
       overflow: hidden;
       height: 800px;
      
   }
   .signin-right{
       margin-right: 100px;
       overflow-x: hidden !important;
       padding: 0.5rem;
      margin-top: 20px;
      margin-top: 15px;
   }
   .signin-title{
       margin-right: 100px;
   }

}

