.container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 2rem;
    padding: 10px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    /* border: 2px solid black; */
    padding: 5px;
}

.s-title{
    display: flex;
    flex-direction: row;
    gap: 130px;
    height: 4rem;
    padding: 15px;
    /* width: 200px; */
    background-color: rgb(225,225,225);
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 400px;
}

.butn{
    cursor: pointer;
    background: transparent;
    align-items: center;
    border: 0;
    outline: none;
    width: 120px;
    border-radius: 5px;
}
.btn-green{
    cursor: pointer;
    /* background: transparent; */
    background-color: rgb(0, 200, 170);
    border: 0;
    outline: none;
    width: 50%;
    border-radius: 22px;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 350px;
    padding: 5px 5px 5px 0;
}

.details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 80px;
}

.checkbox{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.input1{
    width: 270px;
    /* height:40px; */
    border: 0;
    outline: none;
    background-color: rgb(245,245,245);
    border-radius: 5px;
    height: 40px;
    /* box-shadow: 0 0 20px 9px rgb(225,225,225); */
}

.email{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.reg{
    width: 320px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    background-color: rgb(0, 200, 170);
    height: 30px;
    border-radius: 15px;
}

.google{
    width: 320px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    background-color: rgb(0, 200, 170);
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    
}

.short-text{
    font-size: small;
}

.hid{
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    
    
        body {
            overflow-x: hidden !important;
        }

    .container{
        flex-direction: column;
        overflow-x: hidden !important;
    }
    .s-title{
        width: 329px;
        min-width: 0px;
        gap: 53px;
    }
    .btn-green{
        height: 30px;
        padding: 0.25rem 1.5rem;
    }
  }